{% extends 'index.html' %}
{% block headblock %}
{% endblock%}

{% block content %}
<div class="container d-flex align-items-center justify-content-center mt-5">
    <form method="post" class="p-4" style="box-shadow:1px 1px 10px gray; border-radius:10px">
        <h3 style="margin:20px 0">Log in Here</h3>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Login</button>
        <button class="btn btn-secondary" type="button"><a href="/" class="text-white">Home</a></button>
        <p>I have no account <span><a href="/signup">signe up here</a></span></p>
    </form>
</div>
{% endblock %}