{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% block headblock %}
    {% endblock%}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Sk Social</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="/" class="text-dark">Home</a>
        </li>
        <li class="nav-item">
          
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method="post">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <button class="btn btn-outline-primary m-2"><a href="/accounts/login">Login</a></button>
      <button class="btn btn-outline-primary m-2"><a href="/signup">Sine up</a></button>
      {% if user.is_authenticated %}
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-danger m-2">Logout</button>
      </form>
      {% endif %}
    </div>
  </nav>
    <div class="container d-flex flex-column align-items-center">
      {% block content %}
      {% endblock %}
    </div>
</body>
</html>